# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/bin
/dist
/tmp
/out-tsc
*tmp.*
.env
/.grunt
_SpecRunner.html

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.editorconfig

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# TS files
.tscache/
.baseDir.ts
.baseDir.tsx

# Package-lock
package-lock.json

# Upload files
uploads/users
uploads/tmp